
@{
    ViewBag.Title = "Bibliography";
}

<br />
<br />
<h2>Bibliography</h2>

<form>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="callNumber" placeholder="Call Number">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="bookTitle" placeholder="Title">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="bookAuthors" placeholder="Author/s">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="bookYear" placeholder="Year">
            </div>
            <div class="col-md-2">
                <input type="button" class="add-book-row btn btn-success" onclick="addBookRow" value="Add Row">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</form>
<br />
<div class="wrapper">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
        <table id="BooksBibTable">
            <tr>
                <th colspan="4" class="text-center">Books</th>
            </tr>
            <tr>
                <th class="BibTH" style="width:150px">Call Number</th>
                <th class="BibTH" style="width:300px">Title</th>
                <th class="BibTH" style="width:200px">Author/s</th>
                <th class="BibTH">Year</th>
            </tr>
            <tr>
                <td class="BibTD">006.74 F33</td>
                <td class="BibTD">Web development and design foundations with HTML5 (6th Edition)</td>
                <td class="BibTD">Felke-Morris, Terry</td>
                <td class="BibTD">2010</td>
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>


