
@{
    ViewBag.Title = "ClassroomPolicy";
}

<h2>Classroom and Laboratory Policies</h2>

<div class="LabPolicies">
    <p>This course will adhere to all class policies stipulated in the USC Student Manual.</p>
</div>



