
@{
    ViewBag.Title = "ClassroomPolicy";
    Layout = "~/Views/Shared/_SideBar.cshtml";
}

<h2>Classroom and Laboratory Policies</h2>

<div id="LabPoliciesDIV" class="wrapper">
    <div class="LabPolicies well">
        <p>This course will adhere to all class policies stipulated in the USC Student Manual.</p>
        <p>The students are expected to observe the following specific policies during class sessions:</p>
        <div class="StaticPolicies">
            <ol type="1" id="PolicyList">
                <li>Active participation creates a more dynamic learning environment. Students should be always prepared in sharing, presenting and demonstrating their research and reading assignments. Also, the rest of the students must also participate in the discussion by commenting, or sharing their own perspective and readings. Students are encouraged to present their research assignments in PDF or PPT file types for easy dissemination and presentation.</li>
                <li>Group work requires group effort. It is expected that every member exerts his/her best in delivering the outputs required. Though groups can distribute tasks among its members, all group members are expected to have knowledge in all steps or areas in producing the required output. All group outputs will have necessary validation activities to verify the learnings of the students involved.</li>
                <li>Attend class regularly. Students are expected to be on time and present all the time. Students are only allowed 7 absences. The student is identified as tardy if he or she comes in class within 15 minutes. 3 tardiness is equal to 1 absence.</li>
                <li>Cellular phones, tablets, laptops and other similar devices must be switched off or put into silent mode. Usage of such devices will only be allowed if the teacher deemed it necessary for the students’ learning.</li>
                <li>No food and drinks are permitted inside the laboratory to avoid spillage and to prevent insects and other pests.</li>
                <li>Each student will be assigned with a date to lead the class in prayer before the start of the session. Students may solicit in advance to his/her classmates, prayer intentions like birthday celebrations or any other important events.</li>
            </ol>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-default" id="AddNewPolicy" onclick="AddNewField()">
            <span class="glyphicon glyphicon-plus"></span>
            Another Policy
        </button>
    </div>
    <br /><br />
    <div class="wrapper">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" id="NewInputFields"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>



