
@{
    ViewBag.Title = "grading_system";
    Layout = "~/Views/Shared/_SideBar.cshtml";
    var gradSys = (List<Grading_System>)ViewData["GradingSystem"];
}

<h2>grading_system</h2>


<style>
    table, th, td {
        border: 1px solid black;
    }

    td, th {
        text-align: center;
    }
</style>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <form method="post" action="add_grading">
        <table id="grading_table" class=" table grading-list">

            <thead>
                <tr>
                    <th colspan="1">Requirements</th>
                    <th rowspan="1">Type</th>
                    <th colspan="1">Weight  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in gradSys)
                {
                    <tr>
                        <td class="col-sm-2">
                            @item.requirementsName
                        </td>
                        <td class="col-sm-2">
                            @item.typeOfGrading
                        </td>
                        <td class="col-sm-2">
                            @item.weight%
                        </td>
                    </tr>
                }
                    <tr>
                        <td class="col-sm-2" colspan="2">
                                <center>Total</center>
                        </td>

                        <td class="col-sm-2">
                            <input type="text" id="styleText" name="weight" class="form-control" value="@ViewBag.Result" />
                        </td>
                    </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
        <button type="submit" class="btn btn-success" value="Add Row">Add Row</button>

    </form>

</div>
