
@{
    ViewBag.Title = "revision_history";
}
<h2>revision_history</h2>
<style>
    table, th, td {
        border: 1px solid black;
    }

    td {
        text-align: center;
    }
</style>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <table id="myTable" class=" table revision-list">

        <thead>
            <tr>
                <td>Version</td>
                <td>Items</td>
                <td>Revised By</td>
                <td>Revision Date</td>
                <td>Approved By</td>
                <td>Approved Date</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-sm-1">
                    <input type="text" name="version_no" class="form-control" required />
                </td>
                <td class="col-sm-2">
                    <input type="text" name="description" class="form-control" />
                </td>
                <td class="col-sm-2">
                    <input type="text" name="revised_by" class="form-control" />
                </td>
                <td class="col-sm-2">
                    <input type="date" name="revision_date" class="form-control" />
                </td>
                <td class="col-sm-2">
                    <input type="text" name="approved_by" class="form-control" />
                </td>
                <td class="col-sm-2">
                    <input type="date" name="approved_date" class="form-control" />
                </td>

            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <input type="button" class="btn btn-default" id="add_revision" value="Add Row" />
    <br />
    <br />
    <input type="button" class="btn btn-success" value="Save Changes" />


</div>

