
@{
    ViewBag.Title = "UpdateGradingSystem";
}

<br />
<br />
<br />
<h2>UpdateGradingSystem</h2>

<div class="container">
    <br />
    <p>Edit form: </p>
    <form method="post" action="SaveUpdatedDetails">
        <div class="form-group">
            <label>Requirements:</label>
            <input type="text" name="requirements" class="form-control" value="@ViewBag.getName" required>
        </div>
        <div class="form-group">
            <label>Type:</label>
            <input type="text" name="type" class="form-control" value="@ViewBag.type"required>
        </div>
        <div class="form-group">
            <label>Weight:</label>
            <input type="text" name="weight" class="form-control" value="@ViewBag.getWeight"required>
        </div>
        <input type="hidden" name="id" class="form-control" value="@ViewBag.id">

        <button type="submit" class="btn btn-danger" value="Save Changes">Back</button>
        <button type="submit" class="btn btn-success" value="Save Changes">Submit</button>
    </form>

</div>

