
@{
    ViewBag.Title = "InstGradAttrb";
    var core_valueList = (List<Core_Value>)(ViewData["CoreValueList"]);
}

<h2>Institutional Graduate Attributes</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center">Core Values</th>
            <th class="text-center">Attributes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center core_value_name">Scientia</td>
            <td>
                <ol type="a">
                    @foreach (var cv_attr in core_valueList)
                    {
                        if (cv_attr.core_value_name == "Scientia")
                        {
                            <li>@cv_attr.core_value_attribute</li>
                        }
                    }
                </ol>
            </td>
        </tr>
        <tr>
            <td class="text-center core_value_name">Virtus</td>
            <td>
                <ol type="a">
                    @foreach (var cv_attr in core_valueList)
                    {
                        if (cv_attr.core_value_name == "Virtus")
                        {
                            <li>@cv_attr.core_value_attribute</li>
                        }
                    }
                </ol>
            </td>
        </tr>
        <tr>
            <td class="text-center core_value_name">Devotio</td>
            <td>
                <ol type="a">
                    @foreach (var cv_attr in core_valueList)
                    {
                        if (cv_attr.core_value_name == "Devotio")
                        {
                            <li>@cv_attr.core_value_attribute</li>
                        }
                    }
                </ol>
            </td>
        </tr>
    </tbody>
</table>

