
@{
    ViewBag.Title = "SoftwareUsed";
}

<h2>Software Used</h2>
<form action="/action_page.php">
    <div class="form-group">
        <label>Software Used:</label>
        <textarea class="form-control" rows="3" id="softwareUsed"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

