
@{
    ViewBag.Title = "SoftwareUsed";
    Layout = "~/Views/Shared/_SideBar.cshtml";
    var softwareUsed = (Software_Used)ViewData["SoftwareUsed"];
}

<h2>Software Used</h2>
@*syllabusId is static*@
@if (softwareUsed == null)
{
    <form method="POST" action="SoftwareUsedAdd?syllabusId=1">
        <div class="form-group">
            <label>Software Used:</label>
            <textarea class="form-control" name="software" rows="3" id="softwareUsed"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
}
else
{
    <p>@softwareUsed.software</p>
    <a href="../SoftwareUsed/SoftwareUsedUpdate?softUId=@softwareUsed.softwareUsed_ID">
        <button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
    </a>
    <a href="../SoftwareUsed/SoftwareUsedDelete?softUId=@softwareUsed.softwareUsed_ID">
        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
    </a>
}

