
@{
    ViewBag.Title = "LearningPlan";
}

<h2>Learning Plan</h2>

    <table class="table table-bordered">
        <thead>
            <tr> 
                <th class="text-center learningPlan" rowspan="2">Learning Outcome</th> 
                <th class="text-center learningPlan" rowspan="2">No. of Hours and Covered Date(s)</th> 
                <th class="text-center learningPlan" rowspan="2">CO Addressed</th> 
                <th class="text-center learningPlan" rowspan="2">Topics</th> 
                <th class="text-center learningPlan" colspan="2">Teaching-Learning Activities</th>
                <th class="text-center learningPlan" rowspan="2">Assessment Activities</th> 
            </tr>
            <tr>
                <th>Teacher Activity</th>
                <th>Learner Activity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="learningPlan">-Familiarize the USC VMG, department’s PEO and PO and course details.</td>
                <td class="text-center learningPlan">1 hour</td>
                <td class="text-center learningPlan">N/A</td>
                <td class="learningPlan">
                    -About USC
                    -About Dept. of Computer Science<br />
                    -Program Outcomes<br />
                    -Course Information
                </td>
                <td class="learningPlan">
                    -Present through PowerPoint and set of videos<br />
                    -Encourage an open-discussion environment
                </td>
                <td class="learningPlan">-Interaction with the Instructor</td>
                <td class="text-center learningPlan">N/A</td>
            </tr>
        </tbody>
    </table>

